{% extends 'base.html' %}

{% block title %}
    Change password
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Change password</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <form method="POST" novalidate>
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="btn btn-success">Change password</button>
            </form>
        </div>
    </div>
{% endblock content %}